/*

Our global CSS for the entire project. Use this file if multiple components
require the same css. Separate each global variable by component.

Note: The background for the app is white. We'll change
that later.

*/


body {
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 18);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./icons/black-metal-background.jpg')
  }

  p {
    color: white;
  }

  .error {
    border: 1px solid red;
  }

