/* 

Our global CSS for the entire project. Use this file if multiple components
require the same css. Separate each global variable by component.

Note: The background for the app is white. We'll change
that later. 

*/

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: #838282;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  p {
    color: white;
  }